<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antest1.kcanotify">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="KcaApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.antest1.kcanotify.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.antest1.kcanotify.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.MainActivity" />
        </activity>

        <service
            android:name=".KcaService"
            android:configChanges="orientation|screenSize" >
        </service>
    </application>

</manifest>