<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antest1.kcanotify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="KcaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.antest1.kcanotify.MainActivity"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.antest1.kcanotify.SettingActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.MainActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.ErrorlogActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.MainActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.AkashiActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.MainActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.AkashiDetailActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.AkashiActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.AkashiFilterActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.AkashiActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.KcaFairySelectActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.SettingActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.KcaInspectorActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.SettingActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.KcaInspectorDetailActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.KcaInspectorActivity" />
        </activity>
        <activity
            android:name="com.antest1.kcanotify.KcaInfoActivity"
            android:configChanges="locale|layoutDirection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antest1.kcanotify.SettingActivity" />
        </activity>

        <service
            android:name=".KcaService"
            android:configChanges="locale|layoutDirection" />
        <service
            android:name=".KcaAlarmService" />
        <service
            android:name=".KcaViewButtonService"
            android:configChanges="locale|layoutDirection" />
        <service
            android:name=".KcaBattleViewService" />
        <service
            android:name=".KcaFleetViewService"
            android:configChanges="locale|layoutDirection" />
        <service
            android:name=".KcaQuestViewService" />
        <service
            android:name=".KcaAkashiViewService" />
        <service
            android:name=".KcaDevelopPopupService" />
        <service
            android:name=".KcaConstructPopupService" />
        <service
            android:name=".KcaMapHpPopupService" />
        <service
            android:name=".KcaExpeditionCheckViewService" />
        <service
            android:name=".KcaVpnService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:label="@string/app_name"
            android:name=".WindowChangeDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice"/>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.antest1.kcanotify.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>